@inherits LayoutComponentBase
@using SignalRDemo.Client.Components

<div class="page">
    <main>
        <article class="content">
            @Body
        </article>
    </main>
    
    <DialogContainer />
</div>
